<header class="panel-heading tab-bg-dark-navy-blue "%>
<ul class="nav nav-tabs">
  <li class="<%= params[:controller] == 'cash_in' ? 'active' : ''%>"><%= link_to "Dana Masuk", '/cash_in' %></li>
  <li class="<%= params[:controller] == 'cash_out' ? 'active' : ''%>"><%= link_to "Dana Keluar", '/cash_out' %></li>
</ul>
</header>