<tr>
  <div class="nested-fields addform clearfix">
    <td>
      <label class="input custom-input-box">
        <%= hidden_field_tag "promotion[promotion_products_attributes][#{key}][sku_id]", (object[:sku_id] rescue ''), class: "input-sm hidden_sku" %>
        <%= text_field_tag "promotion[promotion_products_attributes][#{key}][sku_name]", (object[:sku_name] rescue ''), class: "input-sm autocomplete-field sku_auto", placeholder: "Select or type to autocomplete" %>
        <a class="ui-button ui-widget ui-state-default ui-button-icon-only custom-combobox-toggle ui-corner-right" tabindex="-1" onclick="$(this).next().show()">
          <span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-s"></span><span class="ui-button-text"></span>
        </a>
        <ul style="display: none; width: 100%; top: 29px;" tabindex="0" id="ui-id-1" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content">
          <% Sku.limit(7).order('name').map(&:name).each{|sku| %>
            <li tabindex="-1" id="ui-id-2" class="ui-menu-item"><%= sku %></li>
          <% } %>
        </ul>
      </label>
    </td>
    <td>
      <a class="close" data-dismiss="alert" href="#">
        <i class="fa fa-remove"></i>
      </a>
    </td>
  </div>
</tr>
<script type="text/javascript">
  $(document).ready(function() {
  $(".sku_auto").autocomplete({
    search: function () {},
    source: function (request, response)
    {
      $.ajax(
      {
        url: "/skus/autocomplete_sku_name",
        dataType: "json",
        data: {term: request.term, sku_name: $('.sku_auto').val()},
        success: function (data){
          response(data)
        },
      });
    },
    select: function( event, ui ) {
      $(this).parent().find("input[type='hidden']").val(ui.item.id)
    },
      minLength: 1
    });
  })
</script>