<%= javascript_tag render(:template => 'user_managements/jsManager.js', :formats => [:js]) %>
<div class="container-fluid">
	<ul class="breadcrumb">
        <li><p>YOU ARE HERE</p></li> 
        <li><a href="#" class="active">User Management</a></li>
    </ul>
    
    <div class="page-title">	
    	<i class="fa fa-user"></i>
    	<h3>User - <span class="semi-bold">Management</span></h3>	
    </div>  
        <div class="grid simple">
       	  <div class="grid-title no-border"></div>
        	<div class="grid-body no-border">
				<div class="row toolbar-block">
                	<div class="col-md-4">
                    	<div class="dataTables_filter" id="example3_filter">
                        	<div class="controls">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Search Record">
                                  <span class="input-group-addon ">
                                   	<i class="fa fa-search"></i>
                                  </span>
                                </div>
                              </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                    	<div class="toolbar pull-right" id="toolbar_main">
                        	<div class="table-tools-actions">
                            	<%= button_to new_user_management_path(:employee_id => params[:format]), :method => 'get', :class => 'btn btn-success', :remote => true do %>
                                    <span class="fa fa-plus"></span> Add New
                                <% end %>
                                <div class="btn-group">
                                	<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="fa fa-gear"></span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu right-edge">
                                      <li><a href="#">Action</a></li>
                                      <li><a href="#">Another action</a></li>
                                      <li><a href="#">Something else here</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    	<div class="toolbar pull-right hide" id="toolbar_upload">
                        	<div class="table-tools-actions">
                            	<button class="btn"><span class="fa fa-cloud-upload"></span> Upload</button>
                                <div class="separator">&nbsp;</div>
                            </div>
                        </div>
                    	<div class="toolbar pull-right hide" id="toolbar_def">
                        	<div class="table-tools-actions">
                            	<button class="btn"><span class="fa fa-edit"></span> Edit</button> 
                                <button class="btn" data-toggle="modal" data-target="#confirm_modal"><span class="fa fa-trash"></span> Remove</button> 
                                <div class="separator">&nbsp;</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            	<table class="table no-more-tables table-striped table-hover" id='user_management'>
                    <thead>
                        <tr>
                            <th style="width:1%" >
                                <div class="checkbox check-default">
                                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                    <label for="checkbox10"></label>
                                </div>
                            </th>
                            <th style="width:22%">Name</th>
                            <th style="width:22%">Username</th>
                            <th style="width:22%">Email</th>
                            <th style="width:6%">password</th>
                            <th style="width:10%">Role</th>
                            <th style="width:10%">status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <%= render 'data', :user => user %>
                        <% end %>
                    </tbody>
                </table>
                
                <div class="row dataTables_wrapper">
                	<div class="col-md-12">
                    	<div class="dataTables_paginate paging_bootstrap pagination">
                        	<ul>
                                <li class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li>
                                <li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    	<div class="dataTables_info">Showing <b>1 to 10</b> of 57 entries</div>
                    </div>
                </div>
            </div>
        </div>
</div>