<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title> Portal POS </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css"><!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production-plugins.min.css"><!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production_v3.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style_v3.css"><!-- Custom Style -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css"><!-- SmartAdmin RTL Support -->
    <% if params[:controller] == 'dashboards' %>
      <link rel="stylesheet" type="text/css" media="screen" href="/css/demo.min.css"><!-- Demo purpose only: you can delete this css when designing your own WebApp -->
    <% end %>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"><!-- FAVICONS -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"><!-- GOOGLE FONT -->
    <link rel="apple-touch-icon" href="/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png">
    <meta name="apple-mobile-web-app-capable" content="yes"><!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png"
      media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"><!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="/js/plugin/pace/pace.min.js"></script>
  </head>
  <body class="">
    <%= render 'layouts/header' if current_user %>
    <div id="main" role="main">
      <%= yield %><!-- MAIN PANEL -->
    </div>
    <%= render 'layouts/footer' if current_user %>
    <script>
      if (!window.jQuery) {
        document.write('<script src="/js/libs/jquery-2.1.1.min.js"><\/script>');
      }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
      if (!window.jQuery.ui)
        document.write('<script src="/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    </script>
    <script src="/js/app.config.js"></script><!-- IMPORTANT: APP CONFIG -->
    <script src="/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script><!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="/js/bootstrap/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
    <script src="/js/notification/SmartNotification.min.js"></script><!-- CUSTOM NOTIFICATION -->
    <script src="/js/smartwidgets/jarvis.widget.min.js"></script><!-- JARVIS WIDGETS -->
    <script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script><!-- EASY PIE CHARTS -->
    <script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script><!-- SPARKLINES -->
    <script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script><!-- JQUERY VALIDATE -->
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script><!-- JQUERY MASKED INPUT -->
    <script src="/js/plugin/select2/select2.min.js"></script><!-- JQUERY SELECT2 INPUT -->
    <script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script><!-- JQUERY UI + Bootstrap Slider -->
    <script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script><!-- browser msie issue fix -->
    <script src="/js/plugin/fastclick/fastclick.min.js"></script><!-- FastClick: For mobile devices -->
    <!--[if IE 8]>
    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    <![endif]-->

		<!-- Demo purpose only -->
      <% if params[:controller] == 'dashboards' %>
        <script src="/js/demo.min.js"></script>
      <% end %>

		<!-- MAIN APP JS FILE -->
		<script src="/js/app.min.js"></script>

		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
    <script src="/js/speech/voicecommand.min.js"></script><!-- Voice command : plugin -->
    <script src="/js/smart-chat-ui/smart.chat.ui.min.js"></script><!-- SmartChat UI : plugin -->
    <script src="/js/smart-chat-ui/smart.chat.manager.min.js"></script>
    <script src="/js/plugin/datatables/jquery.dataTables.min.js"></script><!-- PAGE RELATED PLUGIN(S) -->
    <script src="/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {// DO NOT REMOVE : GLOBAL FUNCTIONS!
        /* // DOM Position key index //
        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class
        Also see: http://legacy.datatables.net/usage/features
        */
        /* BASIC ;*/
          var responsiveHelper_dt_basic = undefined;
          var responsiveHelper_datatable_fixed_column = undefined;
          var responsiveHelper_datatable_col_reorder = undefined;
          var responsiveHelper_datatable_tabletools = undefined;
          var breakpointDefinition = {tablet : 1024, phone : 480};
          $('#dt_basic').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "preDrawCallback" : function() {
              if (!responsiveHelper_dt_basic)// Initialize the responsive datatables helper once.
                responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
            },
            "rowCallback" : function(nRow) {
              responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback" : function(oSettings) {
              responsiveHelper_dt_basic.respond();
					}
				});

			/* END BASIC */

			/* COLUMN FILTER  */
		    var otable = $('#datatable_fixed_column').DataTable({
		    	//"bFilter": false,
		    	//"bInfo": false,
		    	//"bLengthChange": false
		    	//"bAutoWidth": false,
		    	//"bPaginate": false,
		    	//"bStateSave": true // saves sort state using localStorage
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
				"autoWidth" : true,
				"preDrawCallback" : function() {
					// Initialize the responsive datatables helper once.
					if (!responsiveHelper_datatable_fixed_column) {
						responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
					}
				},
				"rowCallback" : function(nRow) {
					responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
				},
				"drawCallback" : function(oSettings) {
					responsiveHelper_datatable_fixed_column.respond();
				}

		    });

		    // custom toolbar
		    $("div.toolbar").html('<div class="text-right"><img src="/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

		    // Apply the filter
		    $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {

		        otable
		            .column( $(this).parent().index()+':visible' )
		            .search( this.value )
		            .draw();

		    } );
		    /* END COLUMN FILTER */

			/* COLUMN SHOW - HIDE */
			$('#datatable_col_reorder').dataTable({
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
				"autoWidth" : true,
				"preDrawCallback" : function() {
					// Initialize the responsive datatables helper once.
					if (!responsiveHelper_datatable_col_reorder) {
						responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
					}
				},
				"rowCallback" : function(nRow) {
					responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
				},
				"drawCallback" : function(oSettings) {
					responsiveHelper_datatable_col_reorder.respond();
				}
			});

			/* END COLUMN SHOW - HIDE */

			/* TABLETOOLS */
			$('#datatable_tabletools').dataTable({

				// Tabletools options:
				//   https://datatables.net/extensions/tabletools/button_options
				"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
						"t"+
						"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
		        "oTableTools": {
		        	 "aButtons": [
		             "copy",
		             "csv",
		             "xls",
		                {
		                    "sExtends": "pdf",
		                    "sTitle": "SmartAdmin_PDF",
		                    "sPdfMessage": "SmartAdmin PDF Export",
		                    "sPdfSize": "letter"
		                },
                {
                  "sExtends": "print", "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                }
              ],
              "sSwfPath": "/js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },
          "autoWidth" : true,
          "preDrawCallback" : function() {
            if (!responsiveHelper_datatable_tabletools)// Initialize the responsive datatables helper once.
              responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
          },
          "rowCallback" : function(nRow) {
            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
          },
          "drawCallback" : function(oSettings) {
            responsiveHelper_datatable_tabletools.respond();
          }
        });/* END TABLETOOLS */
      })
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
      paging()
      $('.autocomplete-field').keyup(function(){
        $(this).next().next().hide()
      })

      function paging(){
        $('.pagination a').bind('click', function(){
          reload_list({page: this.href.split('page=')[1].split('&')[0]})
          return false
        })
        $(document).keypress(function(e) {
          if(e.which == 13)
            reload_list({})
        });
        $('.sorting').click(function(){
          reload_list({sort: this.id})
          $(this).addClass('hide')
          if($(this).attr('id').split('-')[1] == 'desc')
            $(this).next().removeClass('hide')
          else
            $(this).prev().removeClass('hide')
        })
      }

      function reload_list(params){
        for (i=0; i<$('input.search').length; i++){
          input_search = $('input.search')[i]
          params['search['+input_search.name+']'] = input_search.value
        }
        $.ajax({
          url: '<%= request.env['REQUEST_PATH'] %>'.split('?page')[0],
          method: "get",
          data: params,
          dataType: "script"
        })
      }

      function delete_one(this_id, module_name){
        if (confirm('Are you sure?')){
          $.ajax({
           dataType: "script",
           method: 'DELETE',
            url: module_name+'/'+this_id
          })
        }
      }
      <% if params[:controller] == 'dashboards' %>
        pageSetUp()
      <% end %>
    </script>
    <style>
      .field_with_errors input, .field_with_errors textarea{
        border-color: #953B39 !important;
      }
      .custom-combobox {
        position: relative;
        display: inline-block;
      }
      .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: 92%;
        padding: 0;
      }
      .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
      }
      .nowrap{
        white-space: nowrap !important;
      }
    </style>
  </body>
</html>